{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-6 col-md-offset-3">
    </br>
<a href="{{ path('userLogin') }}">
   <button class="btn btn-success btn-lg btn-block">
      Sprawdź status swojego samochodu</button>
</a>
<a href="http://www.skoda.pl">
   <button type="button" class="btn btn-success btn-lg btn-block">Strona główna SKODA</button>
</a>

    </div>
{% endblock %}