{% extends "::base.html.twig" %}

{% block title %}AppBundle:Admin:addTable{% endblock %}

{% block body %}
<h1>Welcome to the Admin:addTable page</h1>



    {{ form_start(form) }}
    {{ form_(form) }}

    {{ form_end(form) }}

{% endblock %}
